#shape {
  width: 150px;
  height: 150px;
  background-color: red;
  border: 2px solid gold;
  display: none;
  transition: 0.2s ease;
}

/* Mobile adjustments */
@media (max-width: 576px) {
  #shape {
    width: 100px;
    height: 100px;
  }
}
